:root {
  --header-text-color: #212121;
  --main-text-color: #757575;
  --primary-title-color: #ffffff;
  --accent-color: #2196f2;
  --title-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #757575;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /*outline: 2px solid red;*/
}

.section {
  padding: 94px 0;
}

/*------HEADER-------*/

.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

/*logo*/

.logo-title,
.logo-link {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-title {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-link {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo-link:hover,
.logo-link:focus {
  color: var(--accent-color);
}

/*header-list*/

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  color: var(--header-text-color);
}
.header-item:first-child {
  margin-left: 93px;
}
.header-link:nth-child(-n + 2) {
  margin-left: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/*contacts-list*/

.contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/*-----MAIN-----*/

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-button {
  border: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;

  padding: 11px 32px;
  margin-top: 30px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  color: var(--primary-title-color);
  margin-left: auto;
  margin-right: auto;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*Features*/

.feature-list {
  display: flex;
  justify-content: space-between;
}

/*.feature-item:not(:first-child) {
  margin-left: 30px;
}*/

.feature-item:nth(:last-child) {
  margin-left: 0 auto;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 10px;
  color: var(--main-text-color);
}
.info-list {
  display: flex;
}
.info-item:not(:first-child) {
  margin-left: 30px;
}
.info-item {
  justify-content: space-between;
}

.info-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 50px 0;
  color: var(--header-text-color);
}

/*about*/
.about-section {
  background: #f5f4fa;
}
.about-list {
  display: flex;
  flex-basis: inherit;
  margin: 50px 0;
}

.about-team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  justify-content: space-between;
  color: var(--header-text-color);
}

.about-item:not(:first-child) {
  margin-left: 30px;
}

.about-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--header-text-color);
}

.about-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/*button-portfolio*/

.buttons-link {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

.buttons-link .item + .item {
  margin-left: 8px;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
  color: var(--header-text-color);
}

.button .primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-title-color);
  background-color: var(--accent-color);

  padding: 11px 32px;
  min-width: 200px;
  text-align: center;
}

.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  min-width: 73px;
  background-color: var(--primary-title-color);
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}

/*---------------------FOOTER-------------------*/

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-link-first {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.logo-link-first:hover,
.logo-link-first:focus {
  color: var(--accent-color);
}

/*address*/

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

/*contacts*/

.link-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.link-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
/*----------PORTFOLIO---------*/

.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: inherit;
  padding-top: 34px;
}

.images-item {
  padding-top: 30px;
}

.item-list {
  padding-bottom: 20px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.imag-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
  margin-bottom: 4px;
}
.imag-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
